{% extends "base.html.twig" %}

{% block title %}Preishistorie{% endblock %}

{% block content %}
    <div class="container">
        <h2>Preishistorie</h2>

        <div class="svg">
            {{ chart|raw }}
        </div>
    </div>
{% endblock %}