<!DOCTYPE html>
<html lang="de">
<head>
    {% block head %}
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css"/>
        <title>{% block title %}{% endblock %} - Benzinpreismonitor</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        <a href="https://github.com:SeifertDaniel/fuellogger.git">Github</a>
    {% endblock %}
</div>
</body>
</html>