<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png?v=220411024405">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png?v=220411024405">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png?v=220411024405">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png?v=220411024405">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png?v=220411024405">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png?v=220411024405">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png?v=220411024405">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png?v=220411024405">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png?v=220411024405">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png?v=220411024405" sizes="16x16">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png?v=220411024405" sizes="32x32">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-48x48.png?v=220411024405" sizes="48x48">
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicons/favicon.ico?v=220411024405">
        <link rel="mask-icon" href="assets/images/favicons/bpm.svg?v=220411024405">
        <link rel="manifest" href="manifest.json?v=220411034405" />

        <meta name="robots" content="noindex, nofollow" />

        {% block script %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="assets/js/bootstrap/bootstrap.min.js"></script>
            <script defer src="assets/js/fontawesome/all.js"></script>
        {% endblock %}

        {% block styles %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css"/>
            <link rel="stylesheet" href="assets/css/styles.css"/>
        {% endblock %}

        <title>{% block title %}{% endblock %} - Benzinpreismonitor</title>
    {% endblock %}
</head>
<body class="{{ className }}">
{% block header %}
        {% include 'header.html.twig' %}
{% endblock %}
<div id="content">
        {% block content %}{% endblock %}
</div>
<footer class="bg-dark fixed-bottom">
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
</footer>
{% block footerscript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown-toggle").dropdown();
        });
    </script>
{% endblock %}
</body>
</html>