<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css"/>
        <link rel="stylesheet" href="assets/css/styles.css"/>
        <script defer src="assets/js/fontawesome/all.js"></script>
        <title>{% block title %}{% endblock %} - Benzinpreismonitor</title>
    {% endblock %}
</head>
<body>
{% block header %}
        {% include 'header.html.twig' %}
{% endblock %}
<div id="content">
        {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}{% endblock %}
</div>
{% block script %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="assets/js/bootstrap/bootstrap.js"></script>
{% endblock %}
</body>
</html>