<div class="container-fluid d-flex justify-content-between">
    <div class="p-2">
        Stand: {{ "now"|date("m.d.Y H:i:s") }}
    </div>
    <div class="p-2">
        <a href="index.php?cl=disclaimer">
            rechtliche Angaben
        </a>
    </div>
</div>