<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h1>
            <a class="navbar-brand" href="index.php">
                <i class="fa-solid fa-gas-pump"></i>
                [Benzinpreismonitor STL]
            </a>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Preis&uuml;bersicht</a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="index.php">alle</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="index.php?postcode=09366">Stollberg</a></li>
                        <li><a class="dropdown-item" href="index.php?postcode=09380">Thalheim</a></li>
                        <li>
                            <form method="get" action="index.php">
                                <span class="dropdown-item">
                                    <label for="postCodeInput" id="postCodeInputLabel" class="form-label">PLZ:</label>
                                    <input name="postcode" type="text" class="form-control-sm col-8" id="postCodeInput" placeholder="PLZ">
                                    <button type="submit" id="postCodeButton" class="btn btn-primary btn-sm col-4">OK</button>
                                </span>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.php?cl=priceTrend">Preisentwicklung</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
